@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

// Our dark theme
.paradise-theme {
  $paradise-primary: mat-palette($mat-pink);
  $paradise-accent: mat-palette($mat-pink, A200, A100, A400);
  $paradise-warn: mat-palette($mat-red);
  $paradise-theme: mat-light-theme($paradise-primary, $paradise-accent, $paradise-warn);

  @include angular-material-theme($paradise-theme);
}