<div>
    <mat-card class="card">
        <mat-card-title>Om</mat-card-title>
        <mat-tab-group>
            <mat-tab label="Teorien">
                <br>
                Snart Helg-teorien oppstod en tidlig januarmorgen i en av P3morgen's radiosendinger.
                Teoriens far, professor Ronny Brede Aase, forklarte med stor entusiasme hvorfor man allerede
                på en onsdag kan si at det snart er helg. Teorien falt i smak hos flere lyttere, meg
                inkludert, og resultatet ble dette nettstedet.
                <br> <br>
                For utfyllende forklaring, se originalvideoen her:
                <br><br>
                <div fxLayoutAlign="space-around center">
                        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fp3morgen%2Fvideos%2F10155497685198277%2F&width=700&show_text=false&height=599&appId" width="600" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true">
                        </iframe>
                </div>

            </mat-tab>
            <mat-tab label="Meg">
                <br>
                Navn: Mats Gjerset Rødseth <br>
                Bosted: Oslo <br>
                Arbeid: IT-konsulent
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>