<mat-card class="card">
    <mat-card-title>Om</mat-card-title>
    <mat-tab-group>
        <mat-tab label="Teorien">
            <br>
            Snart Helg-teorien oppsto en tidlig januarmorgen i en av P3morgen's radiosendinger. <br>
            Teoriens far, professor Ronny Brede Aase, forklarte med stor entusiasme hvorfor man allerede <br>
            på en onsdag kan si at det snart er helg. Teorien falt i smak hos flere lyttere, meg <br>
            inkludert, og resultatet ble dette nettstedet.<br>
            <br>
            For utfyllende forklaring, se original video her: <a target="_blank" href="https://www.facebook.com/p3morgen/videos/10155497685198277/">Snart Helg-teorien</a>


        </mat-tab>
        <mat-tab label="Meg">
            <br>
            Navn: Mats Gjerset Rødseth <br>
            Bosted: Oslo <br>
            Arbeid: IT-konsulent
        </mat-tab>
    </mat-tab-group>
</mat-card>